extends ../base.pug

block content
  .card.mb-lg-3
    .card-header 
      h4 Preferences
    .card-body
      .row
        .col-12.col-lg-4
          form#photo_form(method="POST", action="/settings/upload-photo", enctype="multipart/form-data")
            .row.mb-4
              .col.text-center
                a.btn.btn-dark.ml-2.mt-2(id="exitButton", href="/settings/remove", style="position:absolute; opacity:0.8;")
                  img(src="/static/exit.svg")
                img.rounded.img-fluid(id="uploadedPhoto", src=currentUser.profile_image_name, style="width: 300px;")   
            .row.mb-4 
              .col.text-center
                  label.btn.btn-primary Upload Photo
                    input.form-control(style="display: none;", type="file", name="profile_photo", accept="image/*", onchange="submitForm(event)")
        .col-12.col-lg-8
          form#request_form(method="POST")
            .row.mb-2
              .col
                b Preferred first name
            .row.mb-4
              .col
                input.form-control(name="preferred_name", value=currentUser.preferred_name)
            .row.mb-2
              .col
                b Preferred email
            .row.mb-4
              .col
                input.form-control(name = "preferred_email", value=currentUser.email)
            .row.mb-2
              .col
                b Phone number
            .row.mb-4
              .col
                input.form-control(name= "_phone", value=currentUser.phone_number)
            .row.mb-2
              .col
                b Default location
            .row.mb-4
              .col
                input.form-control#location_field(type="text", name="place_name" value=currentUser.default_location_description)
                input#place_id_field(type="hidden", name="place_id" value=currentUser.default_location)
            .row.mb-2
              .col
                b Deviation limit
            .row.mb-4
              .col
                input.form-control(name= "deviation_limit", value=currentUser.deviation_limit)
            .row.mb-2
              .col.text-center
                button.btn.btn-primary(type="submit") Update

  script(
    type="text/javascript",
    src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsAPIKey}&libraries=places`
  )
  script(
    type="text/javascript",
    src="/static/js/location_autocomplete.js"
  )
  script(
    type="text/javascript",
    src="/static/js/settings.js"
  )
