extends ../base.pug

block content
  .card.mb-lg-3
    .card-header 
      h4.mb-0 Preferences
    .card-body
      .row
        .col-12.col-lg-4
          form#photo_form(method="POST", action="/settings/upload-image", enctype="multipart/form-data")
            .row.mb-4
              .col.text-center
                a.btn.btn-dark.ml-2.mt-2#exitButton(
                  href="/settings/remove-profile-image"
                  style="position:absolute; opacity:0.8; display: none;"
                )
                  i.fas.fa-trash.mr-2
                  | Delete
                img.rounded.img-fluid(id="uploadedPhoto", src=profileImageURL, style="width: 300px;")   
            .row.mb-4 
              .col.text-center
                label.btn.btn-primary Upload Photo
                  input.form-control#imageInput(
                    style="display: none;"
                    type="file"
                    name="profile_photo"
                    accept="image/*"
                  )
        .col-12.col-lg-8
          form#request_form(method="POST" novalidate)
            .row.mb-2
              .col
                b Preferred first name
            .row.mb-4
              .col
                input.form-control(
                  name="preferred_name"
                  id="preferred_name"
                  value=(currentUser.preferred_name || currentUser.first_name)
                  type="text"
                  pattern=constraints.preferredName.pattern.source
                  autocomplete=constraints.preferredName.autocomplete
                  minlength=constraints.preferredName.min
                  maxlength=constraints.preferredName.max
                )
                .invalid-feedback Enter a valid preferred name
            .row.mb-2
              .col
                b Preferred email
            .row.mb-4
              .col
                input.form-control(
                  name="preferred_email"
                  id="preferred_email"
                  value=(currentUser.email || `${currentUser.netid}@lafayette.edu`)
                  type=constraints.preferredEmail.type
                  autocomplete=constraints.preferredEmail.type
                  maxlength=constraints.preferredEmail.max
                )
                .invalid-feedback Enter a valid email address
                
            .row.mb-2
              .col
                b Phone number
            .row.mb-4
              .col
                input.form-control(
                  name= "phone_number"
                  id="phone_number"
                  value=currentUser.phone_number
                  type="text"
                  required
                  pattern=constraints.phoneNumber.pattern.source
                  autocomplete="tel"
                  maxlength=constraints.phoneNumber.max
                  minlength=constraints.phoneNumber.min
                )
                .invalid-feedback Enter a phone number in the format (800)123-5678
            .row.mb-2
              .col
                b Default location
            .row.mb-4
              .col
                input.form-control#location_field(
                  type="text"
                  required
                  value=formattedLocation
                )
                input#place_id_field(
                  type="hidden"
                  name="place_id" 
                  value=currentUser.default_location
                )
                .invalid-feedback Enter your most frequent travel location
            .row.mb-2
              .col
                b Deviation limit
            .row
              .col
                input.form-control(
                  name= "deviation_limit"
                  id ="deviation_limit"
                  value=currentUser.deviation_limit
                  type="number"
                  min=0
                )
            .row.mb-4
              .col
                span.small(id="deviation_exp") Enter the number of minutes you are willing to travel off your route to find a match
            .row.mb-4
              .col
                .custom-control.custom-checkbox
                  input(
                    type="checkbox",
                    name="allow_notifications",
                    class="custom-control-input",
                    id="notifications_checkbox", 
                    checked=currentUser.allow_notifications,
                  )
                  label.custom-control-label(for="notifications_checkbox") 
                  = `Allow ${siteName} to send email notifications`
            .row.mb-2
              .col.text-center
                button.btn.btn-primary(type="submit") Update

  if blockedUsers.length > 0
    .card.mb-lg-3
      .card-header 
        h4.mb-0 Blocked Users
      .card-body
        table.table
          each user in blockedUsers
            tr
              td= user.first_name
              td= user.last_name
              - const email = user.email || `${user.netid}@lafayette.edu`
              td
                a(href=`mailto:${email}`)= email
              td
                form#unblock-form(method="POST" action=`/unblock-user/${user.id}`)
                  button.btn.btn-danger(role="submit" ) Unblock
        

  script(
    type="text/javascript",
    src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsAPIKey}&libraries=places`
  )
  script(
    type="module",
    src="/static/js/settings.js"
  )
