extends ../base.pug

block content
  .card.mb-lg-3
    .card-header 
      h4.mb-0 Preferences
    .card-body
      .row
        .col-12.col-lg-4
          form#photo_form(method="POST", action="/settings/upload-image", enctype="multipart/form-data")
            .row.mb-4
              .col.text-center
                a.btn.btn-dark.ml-2.mt-2(id="exitButton", href="/settings/remove-profile-image", style="position:absolute; opacity:0.8;")
                  img(src="/static/exit.svg")
                img.rounded.img-fluid(id="uploadedPhoto", src=profileImageURL, style="width: 300px;")   
            .row.mb-4 
              .col.text-center
                  label.btn.btn-primary Upload Photo
                    input.form-control(style="display: none;", type="file", name="profile_photo", accept="image/*", onchange="document.getElementById('photo_form').submit()")
        .col-12.col-lg-8
          form#request_form(method="POST" novalidate)
            .row.mb-2
              .col
                b Preferred first name
            .row.mb-4
              .col
                input.form-control(
                  name="preferred_name"
                  id="preferred_name"
                  value=(currentUser.preferred_name || currentUser.first_name)
                  required
                  type="text"
                  pattern="[^0-9_!¡?÷?¿/\\\\+=@#$%ˆ&*(){}|~<>;:[\\]]{2,}"
                  autocomplete="given-name"
                  maxlength=100
                )
                .invalid-feedback Enter a valid preferred name
            .row.mb-2
              .col
                b Preferred email
            .row.mb-4
              .col
                input.form-control(
                  name="preferred_email"
                  id="preferred_email"
                  value=(currentUser.email || `${currentUser.netid}@lafayette.edu`)
                  required
                  type="email"
                  autocomplete="email"
                  maxlength=100
                )
                .invalid-feedback Enter a valid email address
                
            .row.mb-2
              .col
                b Phone number
            .row.mb-4
              .col
                input.form-control(
                  name= "_phone"
                  id="_phone"
                  value=currentUser.phone_number
                  required
                  type="text"
                  pattern="\\+?[0-9\\(\\) -]{10,}"
                  autocomplete="tel"
                  maxlength=30
                )
                .invalid-feedback Enter a phone number in the format (800)123-5678
            .row.mb-2
              .col
                b Default location
            .row.mb-4
              .col
                input.form-control#location_field(
                  type="text"
                  name="place_name" 
                  required
                  value=currentUser.default_location_description
                )
                input#place_id_field(
                  type="hidden"
                  name="place_id" 
                  value=currentUser.default_location
                )
                .invalid-feedback Enter the location which you will most frequently travel from
            .row.mb-2
              .col
                b Deviation limit
            .row.mb-4
              .col
                input.form-control(
                  name= "deviation_limit"
                  id ="deviation_limit"
                  value=currentUser.deviation_limit
                  required
                  type="text"
                  pattern="[0-9]{1,}"
                  autocomplete="deviation"
                  maxlength=30
                )
                .invalid-feedback Enter the number of minutes you are willing to travel off your route to carpool
            .row.mb-4
              .col
                .custom-control.custom-checkbox
                  input(
                    type="checkbox",
                    name="allow_notifications",
                    class="custom-control-input",
                    id="notifications_checkbox", 
                    checked=currentUser.allow_notifications,
                  )
                  label.custom-control-label(for="notifications_checkbox") Allow LEAP Lifts to send email notifications
            .row.mb-2
              .col.text-center
                button.btn.btn-primary(type="submit") Update

  if blockedUsers.length > 0
    .card.mb-lg-3
      .card-header 
        h4.mb-0 Blocked Users
      .card-body
        table.table
          each user in blockedUsers
            tr
              td= user.first_name
              td= user.last_name
              - const email = user.email || `${user.netid}@lafayette.edu`
              td
                a(href=`mailto:${email}`)= email
              td
                a.btn.btn-link(href='#') Unblock
        

  script(
    type="text/javascript",
    src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsAPIKey}&libraries=places`
  )
  script(
    type="module",
    src="/static/js/settings.js"
  )
