extends ../base.pug

block navbar_settings
  - var current_page = "onboard"

block content
  .row
    .col-lg-6.offset-lg-3.mb-3
      .card
        .card-header 
          h4.mb-0 Welcome!
        .card-body
          form#photo_form(method="POST" action="/settings/onboard/upload-onboard-image" enctype="multipart/form-data" novalidate)
            .row.mb-4
              .col.text-center
                a.btn.btn-dark.ml-2.mt-2(id="exitButton", href="/settings/onboard/remove-profile-image", style="position:absolute; opacity:0.8; visibility:hidden")
                  img(src="/static/exit.svg")
                img.rounded.img-fluid.mr-3(id="uploadedPhoto", src='/'+profileImageURL,style="height:200px;width:200px")   
            .row.mb-4
              .col.text-center
                  label.btn.btn-primary Upload Photo
                    input.form-control(style="display: none;", type="file", name="profile_photo", accept="image/*", onchange="submitForm(event)")
          form#onboard_form(method="POST" novalidate)
            .row.mb-2
              .col
                h4 Preferred first name
            .row.mb-5
              .col
                input.form-control(
                  name="preferred_name"
                  id="preferred_name"
                  value=(currentUser.preferred_name || currentUser.first_name)
                  type="text"
                  pattern=constraints.preferredName.pattern.source
                  autocomplete=constraints.preferredName.autocomplete
                  minlength=constraints.preferredName.min
                  maxlength=constraints.preferredName.max
                )
                .invalid-feedback Enter your preferred first name
            .row.mb-2
              .col
                h4 Preferred email
            .row.mb-5
              .col
                input.form-control(
                  name="preferred_email"
                  id="preferred_email"
                  value=getEmail(currentUser)
                  type=constraints.preferredEmail.type
                  autocomplete=constraints.preferredEmail.type
                  maxlength=constraints.preferredEmail.max
                )
                .invalid-feedback Enter a valid email address
            .row.mb-2
              .col
                h4 Phone number
            .row.mb-4
              .col
                input.form-control(
                  name= "phone_number"
                  id="phone_number"
                  value=currentUser.phone_number
                  type="text"
                  required
                  pattern=constraints.phoneNumber.pattern.source
                  autocomplete="tel"
                  maxlength=constraints.phoneNumber.max
                  minlength=constraints.phoneNumber.min
                )
                .invalid-feedback Enter a phone number in the format (800)123-5678
                                  
            .row.mb-4
              .col
                .custom-control.custom-checkbox
                  input.custom-control-input#notifications_checkbox(
                    type="checkbox"
                    name="allow_notifications"
                    checked=currentUser.allow_notifications
                  )
                  label.custom-control-label(for="notifications_checkbox") 
                    = `Allow ${siteName} to send email notifications`
            .row
              .col.text-center
                button.btn.btn-primary(type="submit") Submit

  script(
    type="text/javascript",
    src="/static/js/onboard.js"
  )