doctype html
html(lang="en")
  block head
    head
      meta(charset="utf-8")
      meta(
        name="viewport",
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      )
      
      // Bootstrap CSS
      link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
        crossorigin="anonymous"
      )

      link(rel="stylesheet" href="/static/css/sitewide-styles.css")

      title
        block title
          = `${siteName}`

  body

    block navbar_settings
      - var current_page = "base"
    
    block navbar_content
      nav.navbar.navbar-expand-sm.navbar-dark.mb-4
        .container
          a.navbar-brand(href="/")
            i.fas.fa-car.mr-2
            = siteName
          
          button.navbar-toggler(
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapsableContent"
            aria-controls="navbarCollapsableContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          )
            span.navbar-toggler-icon
          
          .collapse.navbar-collapse#navbarCollapsableContent
            ul.navbar-nav.mr-auto
              -
                const navElements = [
                  {
                    title: 'Home',
                    name: 'homepage',
                    url: '/'
                  },
                  {
                    title: 'Dashboard',
                    name: 'trip_index',
                    url: '/trips'
                  },
                  {
                    title: 'About',
                    name: 'about',
                    url: '/about'
                  },
                  {
                    title: 'Help',
                    name: 'help',
                    url: '/help'
                  }
                ]
              each nav in navElements
                li.nav-item(class=(current_page == nav.name ? 'active' : ''))
                  a.nav-link(href=nav.url)= nav.title
            ul.navbar-nav
              if currentUser
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(
                    href="#",
                    role="button",
                    data-toggle="dropdown",
                    aria-haspopup="true",
                    aria-expanded="false"
                  )= user_preferred_name
                  div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="/settings")
                      i.fas.fa-cog.mr-2
                      | Settings
                    a.dropdown-item(href="/sessions/logout")
                      i.fas.fa-sign-out-alt.mr-2
                      | Sign Out
              else
                li.nav-item
                  a.nav-link(href="/sessions/login") Sign in or Register

    block body_content
      .container
        block content
          p This page has no content right now!

    block page_footer
      .footer
        .container.text-white
          .row.no-gutters
            .col-12.col-lg-6.col-md-6
              p.my-3 Owned and operated by Lafayette College
            .col-12.col-lg-6.col-md-6.d-lg-block.d-md-block.d-none.text-right
              .container.my-3
                a(href=`mailto:${contactEmail}` style="color:white") 
                  i.fas.fa-envelope.mr-2
                  = contactEmail
    
    block scripts
      <!-- Bootstrap v4.4.1 JS -->
      <!-- Also includes jQuery and Popper.js -->
      script(
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8="
        crossorigin="anonymous"
      )
      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg="
        crossorigin="anonymous"
      )

      script(
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0="
        crossorigin="anonymous"
      )