extends ../base.pug

block navbar_settings
  - var current_page = "trip_detail"

append head
  link(rel="stylesheet", href="/static/css/trip_detail.css")

  meta(name="firstPlaceID" content=firstPlaceID)
  meta(name="midPlaceID" content=midPlaceID)
  meta(name="lastPlaceID" content=lastPlaceID)

append title
  = ' - Trip Details'

block content

  .row
    .col
      p
        = 'You\'ve been matched! Contact '
        = getPreferredFirstName(otherUser)
        = ' and confirm your trip details.'

  .row.mb-3
    .col
      .card
        h5.card-header
          if isDriver
            | Riding With You
          else
            | Driving You
        .card-body
          .row
            .col-8.offset-2.col-sm-3.offset-sm-0.col-lg-2
              - const profileURL = isDriver ? riderProfileImageURL : driverProfileImageURL
              img.rounded.img-fluid(src='/'+profileURL, style="width: 300px;")   
            .col-12.col-sm-9.col-md-7.col-lg-5
              h5.card-title= `${getPreferredFirstName(otherUser)} ${otherUser.last_name}`
              table.table.table-sm.table-bordered
                tr
                  th(scope="row") Location
                  td
                    a(href=`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(otherLoc)}&query_place_id=${otherUserRequest.location}` target="_blank")
                      = otherLoc
                tr
                  th(scope="row") Phone
                  td
                    a(href=`sms:${otherUser.phone_number}`)= otherUser.phone_number
                tr
                  th(scope="row") Email
                  - const email = getEmail(otherUser)
                  td
                    a(href=`mailto:${email}`)= email
            .col-12.col-sm-6.col-md-5.col-lg-4.offset-lg-1.col-xl-3.offset-xl-2
              .row.mb-2
                .col
                  if (isDriver && !tripMatch.driver_confirmed) || (!isDriver && !tripMatch.rider_confirmed)
                    button.btn.btn-block.btn-success(type="button" data-toggle="modal" data-target="#confirmModal")
                      i.fas.fa-check
                      = ' Confirm Trip'
                  else if (!tripMatch.driver_confirmed || !tripMatch.rider_confirmed)
                    span Waiting for the other person to confirm...
                  else
                    button.btn.btn-light.btn-block(disabled, style="color: black !important;")
                      i.fas.fa-check
                      = ' Trip Confirmed'
              .row
                .col
                  button.btn.btn-block.btn-warning(type="button" data-toggle="modal" data-target="#rejectModal")
                    i.fas.fa-sync-alt
                    = ' Reject Match'

  .row
    .col
      p If you need to change details of your trip, click "Cancel Trip" and request another trip with the corrected details.

    .col-auto
      form.float-right#cancel-trip-form(method="POST" action=`/trip-requests/${currentUserRequest.id}/cancel`)
        button.btn.btn-danger(role="submit")
          i.fas.fa-times
          = ' Cancel Trip'
  
  .row.mb-2
    .col
      h5= `Common Travel Days: ${prettyDates(tripMatch.first_date, tripMatch.last_date)}`
  
  hr.my-3

  .row
    div.col-12.col-lg-6.mb-4(class=googleMapsAPIKey ? '' : 'offset-3')
      .row
        .col.text-center
          h4 Your Trip
      .row.d-flex.flex-column.align-items-center
        .col-auto.d-flex.flex-column.align-items-stretch.text-center
          .location-box.box-shadow-hover= firstPlaceDescription
          div.mt-3.mb-1
            i.fas.fa-arrow-down
          if (midPlaceID !== lastPlaceID && midPlaceID !== firstPlaceID)
            .location-box.box-shadow-hover= midPlaceDescription
            div.mt-3.mb-1
              i.fas.fa-arrow-down
          .location-box.box-shadow-hover= lastPlaceDescription

    if googleMapsAPIKey
      .col-12.col-lg-6.mb-4
        #mapLoading
          .d-flex.flex-column.justify-content-center.align-items-center(style="height: 100px;")
            .spinner-border(role="status")
            span.mt-2 Loading Map...
        #mapWrapper.invisible
          #googleMap(style="height: 300px;")

  include prettyDate

  .modal.fade#rejectModal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="rejectModalLabel"
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        form(method="POST" action=`/trips/${tripMatch.id}/reject`)
          .modal-header
            h5.modal-title#rejectModalLabel Reject Match
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .form-check
              input.form-check-input#radio-block-person(type="radio" name="blockReason" value="block-person")
              label.form-check-label(for="radio-block-person")
                = 'Do not want to ride with '
                = getPreferredFirstName(otherUser)
            .form-check
              input.form-check-input#radio-incompatible-times(type="radio" name="blockReason" value="incompatible-times")
              label.form-check-label(for="radio-incompatible-times") Cannot agree on when to travel
            if isDriver && tripMatch.first_portion == 'driver'
              .form-check
                input.form-check-input#radio-incompatible-location(type="radio" name="blockReason" value="incompatible-location")
                label.form-check-label(for="radio-incompatible-location")
                  = 'Prefer picking someone up at another location'

          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit") Confirm

  .modal.fade#confirmModal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirmModalLabel"
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        form(method="POST" action=`/trips/${tripMatch.id}/confirm`)
          .modal-header
            h5.modal-title#confirmModalLabel Confirm Match
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Have you contacted the other person and confirmed a date and time to travel?
            p If you haven't, please contact them first!

          .modal-footer
            button.btn.btn-danger(type="button" data-dismiss="modal")
              = 'I need to contact '
              = getPreferredFirstName(otherUser)
            button.btn.btn-success(type="submit")
              = 'I\'ve contacted '
              = getPreferredFirstName(otherUser)

append scripts
  if googleMapsAPIKey
    script(
      type="text/javascript",
      src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsAPIKey}`
    )
  script(
    type="module"
    src="/static/js/trip_detail.js"
  )
  script(
    type="module"
    src="/static/js/maps.js"
  )
