extends ../base.pug

block navbar_settings
  - var current_page = "trip_detail"

append head
  link(rel="stylesheet", href="/static/dashboard.css")

block content

  if driver.id != currentUser.id
    .row.mb-3
      .col
        .card
          h5.card-header
            if rider.id == currentUser.id
              | Driving You
            else
              | Driver
          .card-body
            .row
              .col-2
                img.rounded.img-fluid(src='/'+driverProfileImageURL, style="width: 300px;")   
              .col
                h5.card-title
                  = driver.preferred_name || driver.first_name
                p.card-text
                  = 'Location: '
                  = driverRequest.location_description
  if rider.id != currentUser.id
    .row.mb-3
      .col
        .card
          h5.card-header
            if driver.id == currentUser.id
              | Riding With You
            else
              | Rider
          .card-body
            .row
              .col-2
                img.rounded.img-fluid(src='/'+riderProfileImageURL, style="width: 300px;")   
              .col
                h5.card-title
                  = rider.preferred_name || rider.first_name
                p.card-text
                  = 'Location: '
                  = riderRequest.location_description

  
  .row
    .col-1.order-4
      span.fas.fa-arrow-right
    .col-1(class=(tripMatch.direction == 'from_lafayette' ? 'order-2' : 'order-6'))
      span.fas.fa-arrow-right

    .col(
      class=(tripMatch.direction == 'from_lafayette' ? 'order-1' : 'order-7')
    )
      .row
        .col
          p#laf_location Lafayette College
    .col(
      class=(tripMatch.first_portion == 'driver' ? 'order-3' : 'order-5')
    )
      .row
        .col
          p#driver_location= driverRequest.location_description
      .row
        .col
          a.btn.btn-outline-info(
            href=`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(driverRequest.location_description)}&query_place_id=${driverRequest.location}`
          )
            fa.fas.fa-location-arrow
            = ' Google Maps'
    .col(
      class=(tripMatch.first_portion == 'rider' ? 'order-3' : 'order-5')
    )
      .row
        .col
          p#rider_location= riderRequest.location_description
      .row
        .col
          a.btn.btn-outline-info(
            href=`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(riderRequest.location_description)}&query_place_id=${riderRequest.location}`
          )
            fa.fas.fa-location-arrow
            = ' Google Maps'
  .row
    .col
      .div( id="googleMap" style="width:100%;height:400px;")

      

  include prettyDate

  hr.my-4
  .row.mb-2
    .col
      h5= `Trip date range: ${prettyDates(tripMatch.first_date, tripMatch.last_date)}`

  hr.my-4
  .row
    .col-12.col-sm-4.col-lg-3.col-xl-2.mb-2
      if (driverRequest.member_id == currentUser.id && !tripMatch.driver_confirmed) || (riderRequest.member_id == currentUser.id && !tripMatch.rider_confirmed)
        form(method="POST" action=`/trips/${tripMatch.id}/confirm`)
          button.btn.btn-block.btn-success(role="submit")
            i.fas.fa-check
            = ' Confirm Trip'
      else if (!tripMatch.driver_confirmed || !tripMatch.rider_confirmed)
        span Waiting for the other person to confirm...
      else
        span
          i.fas.fa-check
          = ' Trip Confirmed'

    .col-12.col-sm-4.col-lg-3.col-xl-2.mb-2
      button.btn.btn-block.btn-warning(type="button" data-toggle="modal" data-target="#rejectModal")
        i.fas.fa-sync-alt
        = ' Reject Match'

    -
      let currentUserRequestID = null
      if (driverRequest.member_id == currentUser.id) {
        currentUserRequestID = driverRequest.id
      } else if (riderRequest.member_id == currentUser.id) {
        currentUserRequestID = riderRequest.id
      }

    if currentUserRequestID
      .col-12.col-sm-4.col-lg-3.col-xl-2.mb-2
        form#cancel-trip-form(method="POST" action=`/trip-requests/${currentUserRequestID}/cancel`)
          button.btn.btn-block.btn-danger(role="submit")
            i.fas.fa-times
            = ' Cancel Trip'

    .col-12.col-md-6
      p
        = 'You\'ve been matched! Contact '
        = otherUser.preferred_name || otherUser.first_name
        = ' and make sure that both of you can agree on '
        | when you will leave (and any other details that concern you).
      p If everything checks out, click "Confirm Trip" to finalize the match.
      p
        | If you're unable to agree on something, or don't want to ride with this person,
        | click "Reject Match" and indicate a reason (so that we can most efficiently find
        | you another match).
      p
        | If you need to change details like when you are travelling or where you are travelling
        | to, click "Cancel Trip" and request another trip with the corrected details.

  .modal.fade#rejectModal(
    tabindex="-1"
    role="dialog"
    aria-labelledby="rejectModalLabel"
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        form(method="POST" action=`/trips/${tripMatch.id}/reject`)
          .modal-header
            h5.modal-title#rejectModalLabel Reject Match
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .form-check
              input.form-check-input#radio-block-person(type="radio" name="blockReason" value="block-person")
              label.form-check-label(for="radio-block-person")
                = 'Do not want to ride with '
                = otherUser.preferred_name || otherUser.first_name
            .form-check
              input.form-check-input#radio-incompatible-times(type="radio" name="blockReason" value="incompatible-times")
              label.form-check-label(for="radio-incompatible-times") Cannot agree on when to travel
            if driverRequest.member_id == currentUser.id && tripMatch.first_portion == 'driver'
              .form-check
                input.form-check-input#radio-incompatible-location(type="radio" name="blockReason" value="incompatible-location")
                label.form-check-label(for="radio-incompatible-location")
                  = 'Prefer picking someone up at another location'

          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
            button.btn.btn-primary(type="submit") Confirm


  script(
    type="text/javascript",
    src="/static/js/trip_detail.js"
  )
  script(
        src="/static/js/maps.js"
  )

  script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpa-av-UZCTwxyF9CY8YvO6ce4VmY87OI&callback=myMap")
