extends ../base.pug

block navbar_settings
  - var current_page = "trip_index"

block header_extension
  link(rel="stylesheet", href="/static/dashboard.css")

block content
  .row.mb-3
    .col.text-center
      a.btn.btn-info.btn-lg(href="/trips/new", style="width: 200px;")
        i.fas.fa-plus.mr-2
        | New Trip
  each trip in matchedRequests
    .row.mb-3
      .col
        .card
          if trip.rider_confirmed && trip.driver_confirmed
            h5.card-header(class=`trip-confirmed`)
              i.mr-2(class='fas fa-check-circle')
              | Confirmed Trip
          else
            h5.card-header(class=`trip-pending`)
              i.mr-2(class='fas fa-exclamation-triangle')
              | Pending Trip
            //- else if trip.status == 'processing'
            //-   i.mr-2(class='fas fa-sync-alt')
            //-   | Processing Trip
            //- else
            //-   | (Unknown Status)
          .card-body
            h5.card-title
              if trip.direction == 'towards_lafayette'
                = `Trip to Lafayette College from ${trip.location_description}`
              else
                = `Trip from ${trip.location_description} to Lafayette College`
            ul
              each time in trip.times
                li= `${time.date} ${time.time}`
            a.btn.btn-outline-secondary(href=`/trips/${trip.id}`) Trip Details
  each trip in unmatchedRequests
    .row.mb-3
      .col
        .card
          h5.card-header(class=`trip-processing`)
            i.mr-2(class='fas fa-sync-alt')
            | Processing Trip
          .card-body
            h5.card-title
              = `Trip ${trip.direction} to/from ${trip.location_description}`
            ul
              each time in trip.times
                li= `${time.date} ${time.time}`
