extends ../base.pug

block navbar_settings
  - var current_page = "trip_index"

append head
  link(rel="stylesheet", href="/static/css/dashboard.css")

block content

  if alerts.delete
    .row.mb-3
      .col
        .alert.alert-success(role="alert")
          | Successfully removed your trip request
  else if alerts.reject
    .row.mb-3
      .col
        .alert.alert-success(role="alert")
          | Successfully requested a new match

  .row.mb-3
    .col.text-center
      a.btn.btn-info.btn-lg(href="/trips/new", style="width: 200px;")
        i.fas.fa-plus.mr-2
        | New Trip

  include prettyDate

  each trip in trips
    .row.mb-3
      .col
        .card
          -
            const isProcessing = (trip.member_id != null)
            let cardClass = 'trip-processing'
            let cardTitle = 'Processing Trip'
            let cardIcon = 'fa-sync-alt'
            if (!isProcessing) {
              if (trip.rider_confirmed && trip.driver_confirmed) {
                cardClass = 'trip-confirmed'
                cardTitle = 'Confirmed Trip'
                cardIcon = 'fa-check-circle'
              } else {
                cardClass = 'trip-pending'
                cardTitle = 'Pending Trip'
                cardIcon = 'fa-exclamation-triangle'
              }
            }
          h5.card-header(class=cardClass)
            i.mr-2(class=`fas ${cardIcon}`)
            = cardTitle
            if (trip.driver_id == currentUser.id && !trip.driver_confirmed) || (trip.rider_id == currentUser.id && !trip.rider_confirmed)
              span.float-right.badge.badge-secondary Action Needed
          .card-body
            h5.card-title
              -
                let currentUserLocationDescription = "unknown"
                if (isProcessing) {
                  currentUserLocationDescription = locationFormatter(trip.location_description)
                } else {
                  currentUserLocationDescription = (trip.driver_id == currentUser.id)
                    ? locationFormatter(trip.driver_location_description)
                    : locationFormatter(trip.rider_location_description)
                }

              if trip.direction == 'towards_lafayette'
                = `Trip to Lafayette College from ${currentUserLocationDescription}`
              else
                = `Trip from Lafayette College to ${currentUserLocationDescription}`
          
            h6= `${isProcessing ? 'Possible' : 'Common'} Travel Days: ${prettyDates(trip.first_date, trip.last_date)}`
            
            hr

            .row
              if !isProcessing
                .col
                  a.btn.btn-primary(href=`/trips/${trip.id}`) Trip Details
              .col.text-right
                -
                  let cancelAction = `/trip-requests/${trip.id}/cancel`
                  if (!isProcessing) {
                    const requestID = (trip.driver_id == currentUser.id ? trip.driver_request_id : trip.rider_request_id)
                    cancelAction = `/trip-requests/${requestID}/cancel`
                  }
                  
                form#cancel-trip-form(method="POST" action=cancelAction)
                  button.btn.btn-danger(type="submit") Cancel Trip
