extends ../base.pug

block navbar_settings
  - var current_page = "trip_new"

block header_extension
  link(rel="stylesheet", href="/static/dashboard.css")

block content
  form#request_form(method="POST")
    .form-group.row
      label.col-sm-2.col-form-label I want to...
      .col-sm-10
        .btn-group(role="group")
          button.btn.btn-light.role_button(type="button" value="driver") Drive
          button.btn.btn-light.role_button(type="button" value="rider") Ride
        input(type="hidden" id="user_role" name="user_role")
    .form-group.row
      .col-4
        span.small From
        input.form-control(type="text", value="Lafayette College", disabled, id="source_location")
      .col-2
        .button(type="button", id="reverse_loactions", onclick="reverseLocations()")
          i.fas.fa-arrows-alt-h
      .col-4
        span.small To
        input.form-control#location_field(
          type="text"
          name="location_description"
          value=currentUser.default_location_description
        )
        input#place_id_field(
          type="hidden"
          name="place_id"
          value=currentUser.default_location
        )
    .row
      .col
        span.small
          | Click the
          i.fas.fa-arrows-alt-h.mx-2
          | to reverse the trip direction

    hr

    .form-group.row
      .col
        label.col-form-label First available travel date:
      .col
        label.col-form-label Last available travel date:

    .form-group.row
      .col
        input.form-control(type="text", id="start_date", name="start_date" placeholder="MM/DD/YYYY")
      .col
        input.form-control(type="text", id="end_date", name="end_date" placeholder="MM/DD/YYYY")

    .form-group.row
      label.col-sm-4.col-form-label
        | How far can you travel to get picked up?
      .col-sm-8
        .input-group
          input.form-control(
            type="text"
            name="deviation_limit"
            value=defaultDeviationLimit
          )
          .input-group-append
            span.input-group-text minutes

    .form-group.row.mt-5
      .col.text-right
        button#discard_button(type="button").btn.btn-danger
          i.fas.fa-times-circle.mr-2
          | Discard
      .col
        button(type="submit").btn.btn-primary
          i.fas.fa-check-circle.mr-2
          | Submit

  script(
    type="text/javascript",
    src=`https://maps.googleapis.com/maps/api/js?key=${googleMapsAPIKey}&libraries=places`
  )
  script(
    type="text/javascript",
    src="/static/js/location_autocomplete.js"
  )
  script(
    type="text/javascript",
    src="/static/js/new_trip.js"
  )
