-
  function prettyDate(date){
    var d = date.getDate();
    var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    var m = monthNames[date.getMonth()];
    var y = date.getFullYear();
    return `${m} ${d}, ${y}`;
  }

  function prettyDateNoYear(date){
    var d = date.getDate();
    var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    var m = monthNames[date.getMonth()];
    return `${m} ${d}`;
  }

  function prettyDates(d1, d2) {
    if (prettyDate(d1) === prettyDate(d2)) {
      return prettyDate(d1)
    } else if (d1.getFullYear() === d2.getFullYear()) {
      return `${prettyDateNoYear(d1)} - ${prettyDate(d2)}`
    } else {
      return `${prettyDate(d1)} - ${prettyDate(d2)}`
    }
  }